.t-hero {
  width: 100%;
  color: $black;
  padding: 10px 0 30px;
  margin-bottom: 10px;
  position: relative;
  @media (min-width: $break-desktop) {
    padding: 60px 0 70px;
    margin-bottom: 30px;
  }

  @media (min-width: $break-desktop-med) {
    min-height: 500px;
  }

  @media (min-width: $break-desktop-wide) {
    min-height: 550px;
  }
}

.t-hero__background {
  //if --bg_colour this sets it
  @include colour_pick;
  background-color: $green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}

.t-hero__background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &--darken {
    filter: brightness(0.6);
  }
}

.t-hero__text {
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--green {
    color: $green;
  }

  h1 {
    font-size: 36px;
    text-decoration: none;
    line-height: 1.2;
    margin-bottom: 15px;
    @media (min-width: $break-desktop) {
      margin-bottom: 20px;
      font-size: 62px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    @media (min-width: $break-desktop) {
      font-size: 32px;
    }
  }
}
