//the default is no custom fileds are used
.t-hero-simple {
  margin-top: 0px;
  @media (min-width: $break-desktop) {
    margin-top: 80px;
    margin-bottom: 60px;
  }
}

.t-hero {
  width: 100%;
  color: $black;

  margin-bottom: 10px;
  position: relative;
  @media (min-width: $break-desktop) {
    padding: 100px 0 60px;
    margin-bottom: 50px;
  }

  display: flex;
  align-items: center;

  &--with-image {
    @media (min-width: $break-desktop-med) {
      min-height: 500px;
    }

    @media (min-width: $break-desktop-wide) {
      min-height: 550px;
    }
  }
}

.t-hero__background {
  //if --bg_colour this sets it
  @include colour-pick;
  background-color: $green;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}

.t-hero__background-image-mobile,
.t-hero__background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &--darken {
    filter: brightness(0.6);
  }
}

.t-hero__background-image {
  display: none;
  @media (min-width: $break-tablet) {
    display: block;
  }
}

.t-hero__caption {
  position: absolute;
  bottom: -1px;
  // right: 0;
  left: 0;
  background-color: rgba($black, 0.4);
  color: $white;
  padding: 15px;
  display: none;
  @media (min-width: $break-desktop) {
    display: block;
  }
}

.t-hero__text {
  &--white {
    color: $white;
  }

  &--black {
    color: $black;
  }

  &--green {
    color: $green;
  }

  max-width: 430px;
  @media (min-width: $break-desktop) {
    max-width: 650px;
  }
  @media (min-width: $break-desktop-med) {
    max-width: 750px;
  }

  h1 {
    font-size: 36px;
    text-decoration: none;
    line-height: 1.1;
    margin-bottom: 15px;
    @media (min-width: $break-desktop) {
      margin-bottom: 20px;
      font-size: 62px;
    }
  }

  h3 {
    font-size: 20px;
    font-weight: 400;
    @media (min-width: $break-desktop) {
      font-size: 28px;
    }
  }
}
