.c-prev-next-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0px;

  width: 95%;
  max-width: 900px;

  @media (min-width: $break-desktop) {
    margin: 70px auto 20px;
  }
}

.c-prev-next-btns__button {
  margin-right: 15px;
  .b-cta {
    margin: 0;
    margin-bottom: 0;
  }

  &--mobile {
    @media (min-width: $break-desktop) {
      display: none;
    }

    .b-cta {
      font-size: 14px;
      padding: 8px 10px;
    }
  }

  &--desktop {
    display: none;
    @media (min-width: $break-desktop) {
      display: block;
    }
  }
}

.c-prev-next-btns__prev {
  display: block;
  order: 1;
}

.c-prev-next-btns__next {
  display: block;
  order: 2;
  @media (min-width: $break-tablet) {
    order: 3;
  }
}
