.t-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
  height: 100vh;
  background-color: rgba(black, 0.5);
  justify-content: center;
  align-items: flex-start;
  overflow: auto;
  cursor: pointer;

  display: none;

  &--show {
    display: flex;
  }
}

.t-modal {
  background-color: #fff;
  width: 90%;
  max-width: 900px;
  margin: 150px 0;
  z-index: 1;
  cursor: auto;
}

.t-modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  color: $green;
  transition: transform 1s;
  &__svg {
    width: 30px;
    height: 30px;

    svg {
      color: $green;
      transition: color 0.4s;
    }
  }

  &:hover {
    transform: rotate(90deg);
    svg {
      color: $yellow;
    }
  }
}

.t-modal__top {
  padding: 20px 30px;
  position: relative;

  @media (min-width: $break-desktop) {
    display: flex;
    padding: 80px 40px 60px;
  }
}

.t-modal__bottom {
  padding: 20px 30px;
  @media (min-width: $break-desktop) {
    padding: 50px 40px;
  }
}

.t-modal__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.t-modal__logo {
  width: 200px;
  height: 200px;
  margin: 0 0 45px;
  position: relative;
  &__outline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    border-radius: 90px;
    border: 3px solid $green;

    &--2 {
      transform: rotate(45deg);
    }
  }
  img {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
    border-radius: 125px;
    border: 4px solid $green;
  }

  //speakers only
  &__company {
    height: 95px;
    width: 95px;
    border-radius: 60px;

    position: absolute;
    bottom: -30px;
    right: -30px;

    img {
      object-fit: scale-down;
      height: 100%;
      width: 100%;
      border-radius: 125px;
      border: 6px solid $green;
    }
  }

  &__booth {
    @include font-size(32);
    color: $white;
    margin-top: 20px;

    // text-align: center;
    font-weight: normal;
  }

  @media (min-width: $break-tablet) {
    width: 250px;
    height: 250px;

    min-width: 250px;
    min-height: 250px;
    margin-right: 70px;
    &__company {
      height: 120px;
      width: 120px;
    }
  }
}

.t-modal__titles-info {
  margin-bottom: 40px;
}

.t-modal__title {
  margin-bottom: 20px;
  p {
    font-weight: bold;
    @include font-size(38);
    color: $white;
    display: inline;
    border-bottom: 4px solid $yellow;
  }
}

.t-modal__position {
  margin-bottom: 4px;
  @include font-size(27);
  color: $white;
}

.t-modal__company {
  margin-bottom: 8px;
  @include font-size(20);
  color: $white;
}

.t-modal__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
  @media (min-width: $break-tablet) {
  }
}

.t-modal__social {
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
  margin-right: 8px;
  background-color: $green;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;

  svg {
    width: 25px;
    height: 25px;
    color: $white;
    transition: 0.4s;
  }

  &:hover {
    background-color: $grey;
    svg {
      color: $green;
    }
  }

  @media (min-width: 400px) {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    svg {
      width: 30px;
      height: 30px;
    }
  }

  @media (min-width: $break-tablet) {
    width: 60px;
    height: 60px;
    margin-right: 25px;
    // margin-bottom: 0;
    svg {
      width: 35px;
      height: 35px;
    }
  }
}

.t-modal__desc {
  background-color: #fff;
}

.t-modal--speaker-items {
}

.t-modal--sponsor-items {
  .t-modal__logo {
    &__outline {
      border: 4px solid $green;
    }
    img {
      border: 6px solid $green;
    }
  }

  .t-modal__title {
    p {
      color: $white;
    }
  }

  .t-modal__social {
    background-color: $green;

    &:hover {
      background-color: $white;
    }
  }
}
