$black: #000;
$white: #fff;
$grey: #d6d6d6;
$lightgrey: #f7f7f7;
// $green: green; //#008000
// new green

$yellow: gold;
$blue: rgb(0%, 35.688782%, 67.059326%);

$green: #20a056;
$lime: #cdda60;
$sea: #1fbbee; //#19bbee;
$dust: #e5593f;
$gold: #edb71a;
$rose: #e97193;
$plum: #8d5da7;

$sustainabletransformation: $green;
$bectheatre: $lime;
$sustainablepartnerships: $sea;
$sustainableresources: $dust;
$sustainablecommunities: $gold;
$changemakers: $rose;
$future-leaders: $plum;

$susTrans: $green;
$bec: $lime;
$susPart: $sea;
$susRes: $dust;
$susCom: $gold;
$change: $rose;
$future: $plum;

// bs: '0 12px 24px 0 rgba(0, 0, 0, 0.09)',
///function to turn px into rem
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
////use it like this
//h1 {@include fontSize(32px);//}
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

// Breakpoints --- Breakpoints --- Breakpoints --- Breakpoints ---
$break-mobile: 321px;
$break-tablet: 567px;
$break-desktop: 768px;
$break-desktop-med: 1090px;
$break-desktop-wide: 1200px;

// Layout --- Layout --- Layout --- Layout ---

@mixin block-wrapper {
  background-color: $white;
  color: $black;
}

@mixin block-width {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

@mixin block-padding {
  padding: 0 0 30px 0;
  @media (min-width: $break-desktop) {
    padding: 0 0 40px 0;
  }
}

@mixin block-layout {
  @include block-width;
  @include block-padding;
}

.b-layout {
  @include block-layout;
}

@mixin hover {
  &:hover {
    transition: transform 0.4;
    opacity: 0.7;
    transform: scale(0.99);
  }
}

@mixin link-plain {
  a {
    color: black;
    text-decoration: none;
  }
}

@mixin colour_pick {
  &--green,
  &--susTrans {
    background-color: $green;
  }
  &--lime,
  &--bec {
    background-color: $lime;
  }

  &--sea,
  &--susPart {
    background-color: $sea;
  }

  &--dust,
  &--susRes {
    background-color: $dust;
  }

  &--gold,
  &--susCom {
    background-color: $gold;
  }

  &--rose,
  &--change {
    background-color: $rose;
  }

  &--plum,
  &--future {
    background-color: $plum;
  }
}
@mixin link-block {
  margin-bottom: 15px;
  color: white;
  background-color: $green;
  padding: 5px 10px;
  font-weight: bold;
  transition: 0.4s;
  &:hover {
    background-color: $grey;
    color: $black;
  }
}
