@keyframes anim-popUpFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.odoo-pop-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: rgba(black, 0.7);
    z-index: 10;

    opacity: 0;
    display: none;

    &__show {
        display: flex;
        animation-name: anim-popUpFadeIn;
        animation-duration: 1s;

        animation-fill-mode: forwards;
    }
}

.odoo-pop {
    width: 97%;
    max-width: 780px;
    margin: 0 auto;

    iframe {
        height: 530px;
    }

    @media (min-width: $break-desktop) {
        iframe {
            height: 440px;
        }
    }
}

.odoo-pop__close-btn {
    height: 40px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    z-index: 999;
    top: 0px;
    right: 0px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    &__svg {
        width: 30px;
        height: 30px;

        svg {
            color: $green;

            transition: transform 1s, color 0.4s;
        }
    }

    &:hover {
        svg {
            transform: rotate(90deg);
            color: $yellow;
        }
    }

    @media (min-width: $break-desktop) {
        height: 60px;
        width: 60px;

        &__svg {
            width: 50px;
            height: 50px;
        }
    }
}
