.s-blogs {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  @media (min-width: $break-desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    max-width: 800px;
  }

  @media (min-width: $break-desktop-med) {
    max-width: unset;
  }
}

.s-blog {
  max-width: 380px;
  margin-bottom: 30px;
  @media (min-width: $break-desktop) {
    width: 48%;
  }

  @media (min-width: $break-desktop-med) {
    max-width: 270px;
  }

  &__img {
    height: 40vw;
    max-height: 240px;
    margin-bottom: 20px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    h3 {
      @media (min-width: $break-desktop) {
        margin-bottom: 20px;
        font-size: 24px;
      }
    }

    a {
      color: $green;
      text-decoration: none;
      // border-bottom: 1px solid $green;
      padding: 0 3px;

      &:hover {
        color: $white;
        background-color: $green;
      }
    }
  }
}

.pagination {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.nav-previous,
.nav-next {
  @include font-size(24);
  display: inline;

  a {
    color: $green;
    text-decoration: none;
    // border-bottom: 1px solid $green;
    padding: 0 3px;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }
}

.nav-next {
  align-self: flex-end;
}
