.push-down {
  flex: 1;
}

.footer-wrapper {
  background-color: $black;
}

.footer {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  // height: 140px;

  padding: 30px 0 45px;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $break-desktop) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__logo {
    width: 130px;
    margin: 0 auto 20px;
    @media (min-width: $break-desktop) {
      margin: 0 0 20px;
    }
    &:hover {
      .a {
        fill: $yellow;
      }
    }
  }

  &__copyright {
    color: $green;
    width: 280px;
    margin: 0 auto;
  }

  &__flex-item-2 {
    @media (min-width: $break-desktop) {
      display: flex;
      flex-direction: row-reverse;
    }
  }

  &__social {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__social-icon {
    margin-right: 15px;
    cursor: pointer;
    transition: 0.4s;
    svg {
      color: $green;
      transition: 0.4s;
      width: 30px;
      height: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      svg {
        color: yellow;
      }
    }
  }

  &__privacy {
    text-align: center;
    margin-bottom: 20px;
    a {
      color: $green;
      text-decoration: none;
      transition: 0.4s;
      &:hover {
        color: $yellow;
      }
    }

    @media (min-width: $break-desktop) {
      a {
        display: inline-block;
        margin: 10px 20px 0px 0;
      }
    }
  }
}
