.pg-single-session {
  @include link-plain;
}

.pg-single-session__back-btn {
  a {
    margin-bottom: 30px;
    @include font-size(18);
    background-color: $green;
    display: inline-block;
    padding: 6px 8px;
    cursor: pointer;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      background-color: $yellow;
      color: $black;
    }
  }
}

.pg-single-session__top-bar {
  margin-bottom: 20px;
  @media (min-width: $break-desktop-med) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}

.pg-single-session__date-time {
  margin-bottom: 15px;
}

.pg-single-session__location {
  background-color: #fff;
}

.pg-single-session__location-link {
  @include colour-pick;
  @include link-block;
}

.pg-single-session__category {
  p {
    font-weight: bold;
    margin-bottom: 0;
    line-height: 1;
    border: 3px solid $green;
    display: inline-block;
    padding: 6px 11px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: $green;
    color: $white;
  }
}

.pg-single-session__section {
  margin-bottom: 30px;
  @media (min-width: $break-desktop) {
    margin-bottom: 50px;
  }
}

.pg-single-session__sdgs {
  display: flex;
}

.pg-single-session__sdg {
  width: 60px;
  margin-right: 15px;
  @media (min-width: $break-desktop) {
    width: 100px;
    margin-right: 20px;
  }

  @media (min-width: $break-desktop-med) {
    width: 130px;
    margin-right: 25px;
  }
}

.pg-single-session__img-flex {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
}
.pg-single-session__img-flex-item {
  width: 45%;
  max-width: 270px;
  margin-bottom: 20px;
  margin-right: 20px;
  &__img {
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 5px;
  }
}

.pg-single-session__sponsers {
}
.pg-single-session__sponser {
}
