/*************************
 * GRID SCHEDULE LAYOUT
 *************************/

.pro-global {

width: 95%;
margin: 0 auto;

  @media screen and (min-width: 700px) {
    .schedule {
      display: grid;
      grid-gap: 8px;
      grid-template-rows:
        [tracks] auto

        [time-0915] 0.5fr
        [time-0920] 0.5fr
        [time-0925] 0.5fr
        [time-0930] 0.5fr
        [time-0935] 0.5fr
        [time-0940] 0.5fr
        [time-0945] 0.5fr
        [time-0950] 0.5fr
        [time-0955] 0.5fr
        [time-1000] 0.5fr
        [time-1005] 0.5fr
        [time-1010] 0.5fr
        [time-1015] 0.5fr
        [time-1020] 0.5fr
        [time-1025] 0.5fr
        [time-1030] 0.5fr
        [time-1035] 0.5fr
        [time-1040] 0.5fr
        [time-1045] 0.5fr
        [time-1050] 0.5fr
        [time-1055] 0.5fr
        [time-1100] 0.5fr
        [time-1105] 0.5fr
        [time-1110] 0.5fr
        [time-1115] 0.5fr
        [time-1120] 0.5fr
        [time-1125] 0.5fr
        [time-1130] 0.5fr
        [time-1135] 0.5fr
        [time-1140] 0.5fr
        [time-1145] 0.5fr
        [time-1150] 0.5fr
        [time-1155] 0.5fr
        [time-1200] 0.5fr
        [time-1205] 0.5fr
        [time-1210] 0.5fr
        [time-1215] 0.5fr
        [time-1220] 0.5fr
        [time-1225] 0.5fr
        [time-1230] 0.5fr
        [time-1235] 0.5fr
        [time-1240] 0.5fr
        [time-1245] 0.5fr
        [time-1250] 0.5fr
        [time-1255] 0.5fr
        [time-1300] 0.5fr
        [time-1305] 0.5fr
        [time-1310] 0.5fr
        [time-1315] 0.5fr
        [time-1320] 0.5fr
        [time-1325] 0.5fr
        [time-1330] 0.5fr
        [time-1335] 0.5fr
        [time-1340] 0.5fr
        [time-1345] 0.5fr
        [time-1350] 0.5fr
        [time-1355] 0.5fr
        [time-1400] 0.5fr
        [time-1405] 0.5fr
        [time-1410] 0.5fr
        [time-1415] 0.5fr
        [time-1420] 0.5fr
        [time-1425] 0.5fr
        [time-1430] 0.5fr
        [time-1435] 0.5fr
        [time-1440] 0.5fr
        [time-1445] 0.5fr
        [time-1450] 0.5fr
        [time-1455] 0.5fr
        [time-1500] 0.5fr
        [time-1505] 0.5fr
        [time-1510] 0.5fr
        [time-1515] 0.5fr
        [time-1520] 0.5fr
        [time-1525] 0.5fr
        [time-1530] 0.5fr
        [time-1535] 0.5fr
        [time-1540] 0.5fr
        [time-1545] 0.5fr
        [time-1550] 0.5fr
        [time-1555] 0.5fr
        [time-1600] 0.5fr
        [time-1605] 0.5fr
        [time-1610] 0.5fr
        [time-1615] 0.5fr
        [time-1620] 0.5fr
        [time-1625] 0.5fr
        [time-1630] 0.5fr
        [time-1635] 0.5fr
        [time-1640] 0.5fr
        [time-1645] 0.5fr
        [time-1650] 0.5fr
        [time-1655] 0.5fr
        [time-1700] 0.5fr
        [time-1705] 0.5fr
        [time-1710] 0.5fr
        [time-1715] 0.5fr
        [time-1720] 0.5fr
        [time-1725] 0.5fr
        [time-1730] 0.5fr
        [time-1735] 0.5fr
        [time-1740] 0.5fr
        [time-1745] 0.5fr
        [time-1750] 0.5fr
        [time-1755] 0.5fr;
      /* Note 1:
			Use 24hr time for gridline names for simplicity

			Note 2: Use "auto" instead of "1fr" for a more compact schedule where height of a slot is not proportional to the session length. Implementing a "compact" shortcode attribute might make sense for this!
			Try 0.5fr for more compact equal rows. I don't quite understand how that works :)
			*/

      grid-template-columns:
        [times] 4em
        [track-1-start] 1fr
        [track-1-end track-2-start] 1fr
        [track-2-end track-3-start] 1fr
        [track-3-end track-4-start] 1fr
        [track-4-end track-5-start] 1fr
        [track-5-end track-6-start] 1fr
        [track-6-end track-7-start] 1fr
        [track-7-end];
    }
  }

  .time-slot {
    grid-column: times;
  }

  .track-slot {
    display: none; /* hidden on small screens and browsers without grid support */
  }

  @supports (display: grid) {
    @media screen and (min-width: 700px) {
      .track-slot {
        display: block;
        padding: 10px 5px 5px;
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  /* Small-screen & fallback styles */
  .session {
    // margin-bottom: 1em;x
  }

  @supports (display: grid) {
    @media screen and (min-width: 700px) {
      .session {
        margin: 0;
      }
    }
  }

  /*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/
  // body {
  //   padding: 50px;
  //   max-width: 1100px;
  //   margin: 0 auto;
  //   line-height: 1.5;
  // }

  .session {
    padding: 2px 5px;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: rgba(255, 255, 255, 0.6) 1px 1px 0, rgba(0, 0, 0, 0.3) 3px 3px 0;
  }

  .session-title,
  .session-time,
  .session-track,
  .session-presenter {
    display: block;
  }

  .session-title,
  .time-slot {
    margin: 0;
    font-size: 1em;
  }

  .session-title a {
    display: block;
    color: #fff;
    margin-bottom: 6px;
    // text-decoration-style: dotted;

    &:hover {
      // font-style: italic;
    }

    &:focus {
      // outline: 2px dotted rgba(255, 255, 255, 0.8);
    }
  }

  .track-slot,
  .time-slot {
    font-weight: bold;
    font-size: 14px;
  }

  .track-1 {
    background-color: $susTrans;
    color: #fff;
  }

  .track-2 {
    background-color: $bec;
    color: #000;

    .session-title a {
      color: #000;
    }
  }

  .track-3 {
    background-color: #544d69;
    color: #fff;
  }

  .track-4 {
    background-color: #c35500;
    color: #fff;
  }

  .track-all {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    color: #000;
    box-shadow: none;
  }

  .text {
    max-width: 750px;
    font-size: 18px;
    margin: 0 auto 50px;
  }

  .meta {
    color: #555;
    font-style: italic;
  }

  .meta a {
    color: #555;
  }

  hr {
    margin: 40px 0;
  }
}
