.b-snippet-hint {
    display: inline;
    background-color: #f2f2f2;
    padding: 1px 6px;
    border-radius: 5px;
    font-size: 12px !important;
}

.b-snippet {
    h4 {
        font-size: 21px;
        line-height: 1.4;
        margin-bottom: 15px;
        font-weight: bold;
    }
}
